DATABASE_URL="sqlserver://localhost:1433;database=nuxtdb;user=sa;password=Your_password123;encrypt=true;trustServerCertificate=true"

AUTH_NUXT_SECRET="BLAH BLAH BLAH BLAH"
AUTH_ORIGIN="http://localhost:3000"
AUTH_GITHUB_CLIENT_ID="f9d73fbb0dd6f6f85da0"
AUTH_GITHUB_CLIENT_SECRET="602ce85f2d6706f16893a732fcf02bd6b31fa670"
