DATABASE_URL="sqlserver://localhost:1433;database=thedb;user=sa;password=Your_password123;encrypt=true;trustServerCertificate=true"

AUTH_NUXT_SECRET="BLAH BLAH BLAH BLAH"
AUTH_ORIGIN="http://localhost:3000"
AUTH_GITHUB_CLIENT_ID="f9d73fbb0dd6f6f85da0"
AUTH_GITHUB_CLIENT_SECRET="602ce85f2d6706f16893a732fcf02bd6b31fa670"
AUTH_SENDGRID_SENDER="martin.alcock@razor.co.uk"
AUTH_SENDGRID_API_KEY="234"

AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=tdvpblob;AccountKey=HsChizqTP/OzkS3xdVp95S69qAJ/XiYr9jo9av1FTbMCN78b/tyx1+BJUXtJsZkN2uzqr83A1mnU+AStgPdE3Q==;EndpointSuffix=core.windows.net"